*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    
 }
 body{

    display: flex;
    height: 100vh;
    place-items: center;
    background: linear-gradient(to bottom, #b2e5f2 0%, #eb8ddf 100%);
    justify-content: center;
    border: 15px solid rgb(19, 19, 19) rgb(32, 33, 32);
    align-items: center;
 }


   
 .main{
    width: 345px;
    height: 500px;
    background-color: whitesmoke;
    position: absolute;
    border: 15px solid rgb(19, 19, 19) rgb(32, 33, 32);
    border-radius: 15px;
    
    

 }
 .main input[type='text'] {
    width: 85%;
    position: relative;
    height: 80px;
    top: 5px;
    text-align: right;
    padding: 5px 10px;
    outline: none;
    font-size: 50px;
    border: 5px solid rgb(14, 14, 14);
    display: flex;
    margin: auto;
    border-radius: 6px;
    color: rgb(5, 5, 5);
 }
 .btn input[type='button']{
    width:60px;
    border: 0;
    outline: 0;
    height: 60px;
    background: transparent;
    border-radius: 10px;
    font-size: 30px;
    color: #076617;
    cursor: pointer;
    margin: 10px;
    box-shadow: -8px -8px 15px rgba(148, 98, 198, 0.1),5px 5px 15px rgba(0,0,0,0.2);
 }
 .btn input[type='button']:hover{
    background-color: linear-gradient(to bottom, #c0eaed 0%, #eb8ddf 100%);
    color: white;
 }
